services:
  db:
    image: postgres:17
    restart: unless-stopped

  redis:
    image: redis:7
    restart: unless-stopped
    
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      - db
      - redis
    restart: unless-stopped
  
  celery_worker:
    build: ./backend
    command: celery -A backend worker --loglevel=info --events
    depends_on:
      - db
      - redis
      - backend
    restart: unless-stopped
  
  celery_beat:
    build: ./backend
    command: celery -A backend beat --loglevel=info
    depends_on:
      - redis
      - db
      - celery_worker
    restart: unless-stopped
  
  frontend:
    depends_on:
      - backend
    restart: unless-stopped
  
  media:
    image: nginx:alpine
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.media.rule=Host(`api.staging.aliencommons.lazyalienserver.top`) && PathPrefix(`/media`)"
      - "traefik.http.routers.media.entrypoints=websecure"
      - "traefik.http.routers.media.tls.certresolver=le"
      - "traefik.http.services.media.loadbalancer.server.port=80"
    restart: unless-stopped
  
  static:
    image: nginx:alpine
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.static.rule=Host(`api.staging.aliencommons.lazyalienserver.top`) && PathPrefix(`/static`)"
      - "traefik.http.routers.static.entrypoints=websecure"
      - "traefik.http.routers.static.tls.certresolver=le"
      - "traefik.http.services.static.loadbalancer.server.port=80"
    restart: unless-stopped
