services:
  db:
    volumes:
      - postgres_data_pro:/var/lib/postgresql/data
    env_file:
    - ./env/backend.env.pro

  backend:
    command: >
      sh -c "
        python manage.py migrate &&
        python manage.py collectstatic --noinput &&
        python manage.py init_tasks &&
        daphne -b 0.0.0.0 -p 8000 backend.asgi:application
      "
    env_file:
      - ./env/backend.env.pro
    # labels:
    #   - "traefik.enable=true"
    #   - "traefik.http.routers.api.rule=Host(`api.aliencommons.lazyalienserver.top`)"
    #   - "traefik.http.routers.api.entrypoints=websecure"
    #   - "traefik.http.routers.api.tls.certresolver=le"
    #   - "traefik.http.services.api.loadbalancer.server.port=8000"

  celery_worker:
    env_file:
      - ./env/backend.env.pro

  celery_beat:
    env_file:
      - ./env/backend.env.pro

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    # labels:
    #   - "traefik.enable=true"
    #   - "traefik.http.routers.frontend.rule=Host(`aliencommons.lazyalienserver.top`)"
    #   - "traefik.http.routers.frontend.entrypoints=websecure"
    #   - "traefik.http.routers.frontend.tls.certresolver=le"
    #   - "traefik.http.services.frontend.loadbalancer.server.port=80"
  
  # traefik:
  #   image: traefik:v3.0
  #   command:
  #     - "--providers.docker=true"
  #     - "--providers.docker.exposedbydefault=false"
  #     - "--entrypoints.web.address=:80"
  #     - "--entrypoints.websecure.address=:443"
  #     - "--certificatesresolvers.le.acme.tlschallenge=true"
  #     - "--certificatesresolvers.le.acme.email=lastranslationteam@gmail.com"
  #     - "--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json"
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - letsencrypt:/letsencrypt
  #   restart: unless-stopped

volumes:
  postgres_data_pro:
  #letsencrypt:
  