services:
  db:
    volumes:
      - postgres_data_staging:/var/lib/postgresql/data
    env_file:
    - ./env/backend.env.staging

  redis:
    command: >
      sh -c 'redis-server --appendonly yes --requirepass "$$REDIS_PASSWORD"'
    env_file:
    - ./env/backend.env.staging

  backend:
    command: >
      sh -c "
        python manage.py migrate &&
        python manage.py collectstatic --noinput &&
        python manage.py init_tasks &&
        daphne -b 0.0.0.0 -p 8000 backend.asgi:application
      "
    env_file:
      - ./env/backend.env.staging
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend-staging.rule=Host(`api.staging.aliencommons.lazyalienserver.top`)"
      - "traefik.http.routers.backend-staging.entrypoints=websecure"
      - "traefik.http.routers.backend-staging.tls.certresolver=le"
      - "traefik.http.services.backend-staging.loadbalancer.server.port=8000"
    volumes:
      - /srv/alien-commons/staging/media:/code/media
      - /srv/alien-commons/staging/static:/code/staticfiles

  celery_worker:
    env_file:
      - ./env/backend.env.staging

  celery_beat:
    env_file:
      - ./env/backend.env.staging

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_MODE: staging
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend-staging.rule=Host(`staging.aliencommons.lazyalienserver.top`)"
      - "traefik.http.routers.frontend-staging.entrypoints=websecure"
      - "traefik.http.routers.frontend-staging.tls.certresolver=le"
      - "traefik.http.services.frontend-staging.loadbalancer.server.port=80"
  
  media:
    volumes:
      - /srv/alien-commons/staging/media:/usr/share/nginx/html/media:ro
  
  static:
    volumes:
      - /srv/alien-commons/staging/static:/usr/share/nginx/html/static:ro

volumes:
  postgres_data_staging: