services:
  db:
    volumes:
      - postgres_data_staging:/var/lib/postgresql/data
    env_file:
    - ./env/backend.env.staging

  redis:
    command: >
      sh -c 'redis-server --appendonly yes --requirepass "$$REDIS_PASSWORD"'
    env_file:
    - ./env/backend.env.staging

  backend:
    command: >
      sh -c "
        python manage.py migrate &&
        python manage.py collectstatic --noinput &&
        python manage.py init_tasks &&
        daphne -b 0.0.0.0 -p 8000 backend.asgi:application
      "
    env_file:
      - ./env/backend.env.staging
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`api.staging.aliencommons.lazyalienserver.top`)"
      - "traefik.http.routers.api.entrypoints=websecure"
      - "traefik.http.routers.api.tls.certresolver=le"
      - "traefik.http.services.api.loadbalancer.server.port=8000"
    ports:
      - "127.0.0.1:8000:8000"

  celery_worker:
    env_file:
      - ./env/backend.env.staging

  celery_beat:
    env_file:
      - ./env/backend.env.staging

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_MODE: staging
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`staging.aliencommons.lazyalienserver.top`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls.certresolver=le"
      - "traefik.http.services.frontend.loadbalancer.server.port=80"
    ports:
    - "127.0.0.1:3000:80"

volumes:
  postgres_data_staging: