services:
  db:
    image: postgres:17
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7
    restart: unless-stopped
    
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      - db
      - redis
    restart: unless-stopped
  
  celery_worker:
    build: ./backend
    command: celery -A backend worker --loglevel=info --events
    depends_on:
      - db
      - redis
      - backend
    restart: unless-stopped
  
  celery_beat:
    build: ./backend
    command: celery -A backend beat --loglevel=info
    depends_on:
      - redis
      - db
      - celery_worker
    restart: unless-stopped
  
  frontend:
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  postgres_data:
  