services:
  db:
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5432:5432"
    env_file:
    - ./env/backend.env.dev
  
  redis:
    ports:
      - "6379:6379"

  backend:
    command: >
      sh -c "
        python manage.py migrate &&
        python manage.py collectstatic --noinput &&
        python manage.py init_tasks &&
        daphne -b 0.0.0.0 -p 8000 backend.asgi:application
      "
    ports:
      - "8000:8000"
    env_file:
      - ./env/backend.env.dev
    volumes:
      - ./backend:/code

  celery_worker:
    env_file:
      - ./env/backend.env.dev
    volumes:
      - ./backend:/code

  celery_beat:
    env_file:
      - ./env/backend.env.dev
    volumes:
      - ./backend:/code

  frontend:
    image: node:20
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: >
      sh -c "
        npm install &&
        npm run dev
      "
    ports:
      - "8080:5173"
  
volumes:
  postgres_data_dev:
  